#Authentication settings for discord bot
APP_ID=
DISCORD_TOKEN=
PUBLIC_KEY=

EMAIL=
EMAIL_PASSWORD=
IMAP_HOST=
IMAP_PORT=993

WATCHED_FOLDERS=INBOX # add more folders separated by commas, e.g., INBOX,NEXT_FOLDER, ANOTHER_FOLDER.CHILD_FOLDER etc.
DISCORD_CHANNEL_ID=EMAIL_TO_IGNORE # ignored emails from sending onto discord

#Settings for discord role assignment bot
DISCORD_ROLE_ID= # ID of the role to mention
DISCORD_CHANNEL_ID= # ID of the channel to send messages to
DISCORD_RATE_LIMIT_COUNT=5      # Number of messages allowed in the pooling interval
DISCORD_RATE_LIMIT_POOLING_INTERVAL_MS=5000 # Rate limit pooling for too quick discord messages interval in milliseconds 5 seconds 5 * 1000 = 5000

#POOLING_POOLING_INTERVAL_MS=15000      # 15 seconds 15 * 1000 = 15000
#POOLING_INTERVAL_MS=60000      # 1 minute 1 * 60 * 1000 = 60000
#POOLING_INTERVAL_MS=300000    # 5 minutes 5 * 60 * 1000 = 300000
#POOLING_INTERVAL_MS=3600000    # 60 minutes 60 * 60 * 1000 = 3600000
