#Authentication settings for discord bot
APP_ID=
DISCORD_TOKEN=
PUBLIC_KEY=

EMAIL=
EMAIL_PASSWORD=
IMAP_HOST=
IMAP_PORT=993

#Settings for discord role assignment bot
DISCORD_ROLE_ID= # ID of the role to mention
DISCORD_CHANNEL_ID= # ID of the channel to send messages to
